/* Set box-sizing for all elements */
* {
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 70em;
    margin: 100px auto;
    padding: 100px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header {
    text-align: center;
}

.header h2 {
    color: #fff;
}

.form {
    margin: 0 auto;
    max-width: 16rem;
    overflow: auto;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control input {
    border: 1px solid transparent;
    border-bottom-color: white;
    background-color: transparent;
    color: white;
    border-radius: 0;
    font-family: inherit;
    padding: 10px;
    font-size: 14px;
    width: 90%; /* make input fields 90% width on mobile screens */
}

.form-control input:focus {
    outline: 0;
    border-bottom-color: #777;
}

/* Media query for larger screens */
@media screen and (min-width: 800px) {
    body {
        background-image: linear-gradient(to right, #8a2be2, #eecbad, #f5f5f5);
    }
    
    .wrapper {
        height: max-content;
    }

    .form-control li {
        display: inline-block;
        margin-right: 20px;
    }

    .check-input li {
        padding-right: 7.5em;
    }
}

/* Media query for even larger screens */
@media screen and (min-width: 1200px) {
    .form-control li {
        display: inline-block;
        margin-right: 20px;
    }
}

/* Additional styles for form control success and error states */
.form-control.success input {
    border-bottom-color: #2ecc71;
}

.form-control.error input {
    border-bottom-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    background-image: linear-gradient(to right, #8a2be2, #eecbad, #f5f5f5);
    border-radius: 15px;
    color: #000;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
}

.form-control button:focus {
    outline: 0;
    border-bottom-color: #777;
}
